[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cooltools"]
	path = cooltools
	url = https://github.com/obreschkow/cooltools
[submodule "docore"]
	path = docore
	url = https://github.com/obreschkow/docore
[submodule "graphx"]
	path = graphx
	url = https://github.com/obreschkow/graphx
[submodule "nbody"]
	path = nbody
	url = https://github.com/obreschkow/nbody
[submodule "rglplus"]
	path = rglplus
	url = https://github.com/obreschkow/rglplus
